name: Publish Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Python
      uses: actions/setup-python@v5
    - name: Install poetry
      uses: abatilo/actions-poetry@v2
    - name: Install with integrations
      run: poetry install -E db-dtypes
    - name: All tests
      run: poetry run pytest
    - name: Stamp Version
      run: poetry version ${{ github.ref_name }}
    - name: Build
      run: poetry build
    - name: Set Token
      run: poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
    - name: Publish
      run: poetry publish
