name: Publish Package

on:
  release:
    types: [ published ]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v6
      - run: uv python install 3.11
      - run: make
      - run: make test
      - run: uv build
      - run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
